@using PagedList;
@using PagedList.Mvc;
@model IPagedList<applicationproject.Models.StateDisctrictViewModel>



@{
    ViewBag.Title = "Index";
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<div style="font-family:Arial">
    <h2>Index</h2>
    <p>
        @using (Html.BeginForm())
        {
            <b>Search By:</b><text>Name</text>
            @Html.TextBox("search") <input type="submit" value="Search" />

        }
    </p>


    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Districts.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Districts.config)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Districts.updated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().States.name)
            </th>
            <th></th>
        </tr>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="4">No rows match search criteria</td>
            </tr>
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Districts.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Districts.config)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Districts.updated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.States.name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Districts.districtId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Districts.districtId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Districts.districtId })
                </td>
            </tr>
        }

    </table>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, search = Request.QueryString["search"] }),
    new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, DisplayItemSliceAndTotal = true }
)
</div>